---
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
//import IdentityImgOne from "../assets/identity/identity1.png";
//import IdentityImgTwo from "../assets/identity/identity1.png";
//import IdentityImgThree from "../assets/identity/identity1.png";
import PostureImg1 from "../assets/posture/active-monitoring.png";
import PostureImg2 from "../assets/posture/driverless-discovery.png";
import PostureImg3 from "../assets/posture/inventory-posture.png";
---

<div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Discovery and posture using <span class="text-indigo-600">active monitoring and driverless discovery</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    A centralized dashboard allows security teams to view and manage the full inventory of non-human
    identities and connections.
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="purple">
    <Fragment slot="image">
      <Picture
        src={PostureImg1}
        alt="Posture image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Monitoring</span>
    <span slot="title">Active Monitoring</span>
    <span slot="desc">
      Monitor network traficc to actively detect and inventory non-human credentials in transit, 
      identifying risks such as shadow credentials and stale tokens in real time for an improved security posture.
    </span>
  </Card>
  <Card class="lg:col-span-2" color="indigo">
    <Fragment slot="image">
      <Picture
        src={PostureImg2}
        alt="Posture image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Discovery</span>
    <span slot="title">Driverless Discovery</span>
    <span slot="desc">
      Integration with third-party providers to automatically inventory non-human credentials from existing systems. 
      Driverless discovery complements active monitoring by continuously updating the credential inventory 
      ensuring comprehensive visibility.
    </span>
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={PostureImg3}
        alt="Posture image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Inventory</span>
    <span slot="title">Inventory & Posture</span>
    <span slot="desc">
      Centralized dashboard allows security teams to view and manage the
        full inventory of non-human credentials and connections, along with
        their associated risk posture. This helps assess and prioritize security
        risks, enabling faster remediation of issues.</span
    >
  </Card>

   <Card size="sm">
    <Fragment slot="image">
      <!-- // svg image. cannot use <picture/> as of now -->
      <Image
        src={IntegrationImg}
        alt="Feature image"
        width="909"
        height="823"
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Webhooks</span>
    <span slot="title">100+ Integrations</span>
    <span slot="desc">
      Astroship can be integrated with hundreds of tools using Zapier.</span
    >
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={PostureImg2}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Posture</span>
    <span slot="title">Highlight Features</span>
    <span slot="desc">
      You can highlight your features in a trendy grid like this one.</span
    >
  </Card>

 
</div>
